<div>
  <h1>{{ title }}</h1>
</div>

<div *ngIf="formData.valid == true && formData.submitted == true">
  <!-- <p *ngFor='let x of users'>
    Thank you for registering with us {{ users[x].firstName }}! We have a sent a cofirmation email to {{ users[x].email }} and will send all snail mail to:
    {{ users[x].streetAddress }}, {{ users[x].city }} {{ users[x].state }}.
  </p> -->
  <p>
    Have a wonderful day!
  </p>
</div>

<div class="container">
  <fieldset>
    <legend>
      Account Information
    </legend>
    <form (submit)="onSubmit($event, form)" #formData='ngForm'>
      <table>
        <tr>
          <td>
            <label for="firstName">First Name: </label>
          </td>
          <td>
            <input
              type="text"
              name="firstName"
              required
              minlength="3"
              maxlength="24"
              [(ngModel)]=user.firstName
              #firstName='ngModel'
            />
          </td>
          <td>
            <!-- {{ firstName.errors | json }} -->
            <div *ngIf='(firstName.touched || firstName.dirty ) && firstName.errors'>
              <div *ngIf='firstName.errors.required'>
                First Name is Required!
              </div>
              <div *ngIf='firstName.errors.minlength'>
                First Name must be at least {{ firstName.errors.minlength.requiredLength }} characters!
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <label for="lastName">Last Name: </label>
          </td>
          <td>
            <input
              type="text"
              name="lastName"
              required
              minlength="2"
              maxlength="24"
              [(ngModel)]=user.lastName
              #lastName='ngModel'
            />
          </td>
          <td>
            <!-- {{ lastName.errors | json }} -->
            <div *ngIf='(lastName.touched || lastName.dirty ) && lastName.errors'>
              <div *ngIf='lastName.errors.required'>
                Last Name is Required!
              </div>
              <div *ngIf='lastName.errors.minlength'>
                Last Name must be at least {{ lastName.errors.minlength.requiredLength }} characters!
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <label for="email">Email: </label>
          </td>
          <td>
            <input
              type="text"
              name="email"
              required
              minlength="6"
              pattern="^([a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4})"
              [(ngModel)]=user.email
              #email='ngModel'
            />
          </td>
          <td>
            <!-- {{ email.errors | json }} -->
            <div *ngIf='(email.touched || email.dirty ) && email.errors'>
              <div *ngIf='email.errors.required'>
                Email is Required!
              </div>
              <div *ngIf='email.errors.minlength'>
                Email must be at least {{ email.errors.minlength.requiredLength }} characters!
              </div>
              <div *ngIf='email.errors.pattern'>
                Email format is invalid (Try: something@domain.com)
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <label for="password">Password: </label>
          </td>
          <td>
            <input
              type="text"
              name="password"
              required
              minlength="6"
              maxlength="24"
              pattern="^([a-zA-Z0-9@*#]{6,24})$"
              [(ngModel)]=user.password
              #password='ngModel'
            />
          </td>
          <td>
            <!-- {{ password.errors | json }} -->
            <div *ngIf='(password.touched || password.dirty ) && password.errors'>
              <div *ngIf='password.errors.required'>
                Password is Required!
              </div>
              <div *ngIf='password.errors.minlength'>
                Password must be at least {{ password.errors.minlength.requiredLength }} characters!
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <label for="passwordConf">Confirm Password: </label>
          </td>
          <td>
            <input
              type="text"
              name="passwordConf"
              required
              minlength="6"
              maxlength="24"
              pattern="^([a-zA-Z0-9@*#]{6,24})$"
              [(ngModel)]=user.passwordConf
              #passwordConf='ngModel'
            />
          </td>
          <td>
            <!-- {{ passwordConf.errors | json }} -->
            <div *ngIf='(passwordConf.touched || passwordConf.dirty) && passwordConf.errors'>
              <div *ngIf='passwordConf.errors.required'>
                Password Confirmation is Required!
              </div>
              <div *ngIf='passwordConf.errors.minlength'>
                Password Confirmation must be at least {{ passwordConf.errors.minlength.requiredLength }} characters!
              </div>
            </div>
            <div *ngIf='(passwordConf.touched || passwordConf.dirty) && passwordConf.value != password.value'>
              Password doesn't match confirmation!
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <label for="streetAddress">Street Address: </label>
          </td>
          <td>
            <input
              type="text"
              name="streetAddress"
              required
              minlength="6"
              [(ngModel)]=user.streetAddress
              #streetAddress='ngModel'
            />
          </td>
          <td>
            <!-- {{ streetAddress.errors | json }} -->
            <div *ngIf='(streetAddress.touched || streetAddress.dirty ) && streetAddress.errors'>
              <div *ngIf='streetAddress.errors.required'>
                Address is Required!
              </div>
              <div *ngIf='streetAddress.errors.minlength'>
                Address must be at least {{ streetAddress.errors.minlength.requiredLength }} characters!
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <label for="address2">Unit / Apt Number: </label>
          </td>
          <td>
            <input
              type="text"
              name="address2"
              [(ngModel)]=user.address2
              #address2='ngModel'
            />
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td>
            <label for="city">City: </label>
          </td>
          <td>
            <input
              type="text"
              name="city"
              required
              maxlength="30"
              [(ngModel)]=user.city
              #city='ngModel'
            />
          </td>
          <td>
            <!-- {{ city.errors | json }} -->
            <div *ngIf='(city.touched || city.dirty ) && city.errors'>
              <div *ngIf='city.errors.required'>
                City Name is Required!
              </div>
              <div *ngIf='city.errors.minlength'>
                City must be at least {{ city.errors.minlength.requiredLength }} characters!
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <label for="state">State: </label>
          </td>
          <td>
            <input
              type="text"
              name="state"
              required
              [(ngModel)]=user.state
              #state='ngModel'
            />
          </td>
          <td>
            <!-- {{ state.errors | json }} -->
            <div *ngIf='(state.touched || state.dirty ) && state.errors'>
              <div *ngIf='state.errors.required'>
                State is Required!
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <label for="lucky">I'm Feeling Lucky: </label>
          </td>
          <td>
            <input
              type="radio"
              name="lucky"
              value="true"
              required
              [(ngModel)]=user.lucky
              #lucky='ngModel'
            /> 
            Yes
            <input
              type="radio"
              name="lucky"
              value="false"
              required
              [(ngModel)]=user.lucky
              #lucky='ngModel'
            /> 
            No
          </td>
          <td>
            <!-- {{ lucky.errors | json }} -->
            <div *ngIf='(lucky.touched || lucky.dirty ) && lucky.errors'>
              <div *ngIf='lucky.errors.required'>
                Are you feeling lucky? Tell us!
              </div>
            </div>
          </td>
        </tr>
      </table>
      <input type="submit" value="Register" *ngIf="formData.valid">
    </form>
  </fieldset>
</div>

<div>
  {{ users | json }}
  <hr>
  {{ formData.submitted }} {{ formData.valid }}
</div>