<div class="container">
  <h1>{{ title }}</h1>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="divider" role="separator"></li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/bikes">Browse</a>
      </li>
      <li class="divider" role="separator"></li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/bikes/listings">My Listings</a>
      </li>
      <li class="divider" role="separator"></li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Log Off</a>
      </li>
    </ul>
  </nav>
</div>
