<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Group Chat</title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/style.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <!-- Socket.io -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>

    <!-- JS -->
    <script>
        $('document').ready(function() {
            console.log("Ready...")
            var socket = io.connect();
            // prompt for user and emit to server
            var name = prompt('What is your name?');
            socket.emit('got_new_user', {name: name});
            // listen for new user
            socket.on('new_user', function(new_user){
                console.log(new_user);
                $('#newest_user').html(
                    `<p><i>Newest User: ${ new_user.new_user }</i></p>`);
            });

            socket.on('existing_users', function(all_users){
                console.log(all_users);
                for (var i = all_users.length-1; i > 0; i--) {
                    $('#active_users').append(
                        `<li>${ all_users[i].id }, ${ all_users[i].name }</li>`);
                };
            });

            socket.on('chat_history', function(chats){
                console.log(chats);
                for (var i = 0; i < chats.length; i++ ){
                    $('#chat_msg').append(
                        `<li>${ chats[i].user }: ${ chats[i].message }</li>`
                    );
                };
            });

            // handle messages
            $('form').submit(function(e){
                e.preventDefault();
                socket.emit('new_message', {
                    user: '',
                    message: $('#content').val(),
                });
            });
            // display the emit response from server:
            socket.on('update_chat', function(data){
                $('#chat_msg').append(
                    `<li>${ data.user }: ${ data.message }</li>`
                );
            });
        });
    </script>
</head>
<body>
    <div id="container">
    <h1>Group Chat</h1>
        <div id="user_list">
        <h4>Active Users:</h4>
            <div id="newest_user">
                <!-- Display newest user here -->
            </div>
            <p><b>Other Users:</b></p>
            <ul id="active_users">
                <!-- Users listed here -->
            </ul>
        </div>
        <div id="chat_window">
            <div id="chat">
                <ul id="chat_msg">
                    <!-- Chat messages here -->
                </ul>
            </div>
            <div id="message">
                <form action="">
                    <input type="text" name="message" id="content">
                    <input type="submit" value="Send">
                </form>
            </div>
        </div>
    </div>
</body>
</html>