<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Group Chat</title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/style.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <!-- Socket.io -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>

    <!-- JS -->
    <script>
        $('document').ready(function() {
            console.log("Ready...")
            var socket = io.connect();

            // prompt for user and emit to server
            var name = prompt('What is your name?');
            socket.emit('got_new_user', {name: name});

            socket.on('chat_history', function(chats){
                console.log(chats);
                for (var i = 0; i < chats.length; i++ ){
                    $('#chat_msg').append(
                        `<li>${ chats[i].user_name }: ${ chats[i].message }</li>`
                    );
                };
            });

            // handle messages
            $('form').submit(function(e){
                e.preventDefault();
                socket.emit('new_message', {
                    user_name: name,
                    message: $('#content').val(),
                });
            });

            // display the emit response from server:
            socket.on('update_chat', function(data){
                $('#chat_msg').append(
                    `<li>${ data.user_name }: ${ data.message }</li>`
                );
            });
        });
    </script>

</head>
<body>
    <div id="container">
        <h1>Group Chat</h1>
        <div id="chat_window">
            <div id="chat">
                <ul id="chat_msg">
                    <!-- Chat messages here -->
                </ul>
            </div>
            <div id="message">
                <form action="">
                    <input type="text" name="message" id="content">
                    <input type="submit" value="Send">
                </form>
            </div>
        </div>
    </div>
</body>
</html>