<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Counter</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <div id="container">
        <h1>Counter</h1>
        <p><%= count %> times.</p>
        <button>
            <a href="/">Count by 1</a>
        </button>
        <button>
            <a href="/add2">Count by 2</a>
        </button>
        <button>
            <a href="/reset">Reset</a>
        </button>
    </div>
</body>
</html>