<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Counter</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <div id="container">
        <h1>Counter</h1>
        <p>_ times.</p>
        <a href="/">
            <button>Refresh</button>
        </a>
    </div>
</body>
</html>