html {
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    width: 960px;
    margin: 0 auto;
}

#chat_window {
    width: 510px;
    height: 400px;
    border: 1px solid grey;
    display: inline-block;
}

#message {
    height: 20px;
    border-top: 1px solid grey;
    padding: 2px;
}