<div class="container">
  <div class="container">
    <h1>All Players</h1>
  </div>  
  <div class="container">
    <a [routerLink]="['/', 'player', 'list']">List</a> | 
    <a [routerLink]="['/', 'player', 'addplayer']">Add</a>
  </div>
  <br>
  <br>
  <div class="container">
    <table class="table table-striped">
      <thead>
        <th>Player</th>
        <th>Position</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr *ngFor='let player of players'>
          <td>{{ player.name | titlecase }}</td>
          <td>{{ player.position | titlecase }}</td>
          <td>
            <button class="btn btn-danger" (click)='onDelete(player)'>DELETE</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
