<div class="container">
  <div class="row">
    <div class="col-sm">
      <form (submit)="findUser(user)" #formData="ngForm">
        <div class="form-group">
          <label>Find User: </label>
          <input 
          type="text"
          name="user-input"
          class="form-control"
          placeholder="Please enter a user name"
          required
          [(ngModel)]="user"
          >
        </div>
        <button [disabled]='!formData.valid' class="btn btn-primary">Calculate my GitHub Score</button>
      </form>
    </div>
    <div class="col-sm">
        <app-score-display></app-score-display>
      </div>
  </div>
</div>
