<!--The content below is only a placeholder and can be replaced.-->
<div [ngClass]="{'body': true}">
  <h1>
    {{ title }}!
  </h1>
  <table>
    <thead>
      <th>Email</th>
      <th>Importance</th>
      <th>Subject</th>
      <th>Content</th>
    </thead>
    <tbody>
      <tr *ngFor = 'let email of emails'>
        <td>{{ email.email | lowercase }}</td>
        <td>{{ email.important }}</td>
        <td>{{ email.subject }}</td>
        <td>{{ email.content }}</td>
      </tr>
    </tbody>
  </table>
  
