<div [ngClass]="{'body': true}">
  <h1>
    {{ title }}
  </h1>
  <table>
    <thead>
      <th>Email</th>
      <th>Importance</th>
      <th>Subject</th>
      <th>Content</th>
    </thead>
    <tbody>
      <tr *ngFor = 'let email of emails'>
        <td [ngClass]="{'td': true}" >{{ email.email | lowercase }}</td>
        <td [ngClass]="{'td': true}" >
          <span *ngIf='email.important == true' >High</span>
          <span *ngIf='email.important == false' >Low</span>
        </td>
        <td [ngClass]="{'td': true}" >{{ email.subject }}</td>
        <td [ngClass]="{'td': true}" >{{ email.content }}</td>
      </tr>
    </tbody>
  </table>
</div>