<div class="container">
  <div class="container">
    <h1>Player Status - Game {{ gameId }}</h1>
  </div>
  <div class="container">
    <a (click)="setGame('1')" [routerLink]="['/', 'status', 'game', 1]">Game 1</a> | 
    <a (click)="setGame('2')" [routerLink]="['/', 'status', 'game', 2]">Game 2</a> | 
    <a (click)="setGame('3')" [routerLink]="['/', 'status', 'game', 3]">Game 3</a>
  </div>
  <hr>
  <div class="container player-list">
    <table class="table table-striped">
      <thead>
        <th>Player</th>
        <th>Position</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr *ngFor='let player of players'>
          <td>{{ player.name | titlecase }}</td>
          <td>{{ player.position | titlecase }}</td>
          <td>
            <button>PLAYING</button>
            <button>NOT PLAYING</button>
            <button>UNDECIDED</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

