<div class="container">
  <div class="container">
    <h1>Player Status - Game {{ gameId }}</h1>
  </div>
  <div class="container">
    <a [routerLink]="['/', 'status', 'game', 1]">Game 1</a> | 
    <a [routerLink]="['/', 'status', 'game', 2]">Game 2</a> | 
    <a [routerLink]="['/', 'status', 'game', 3]">Game 3</a>
  </div>
  <hr>
  <div class="container player-list">
    <table class="table table-striped">
      <thead>
        <th>Player</th>
        <th>Position</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr *ngFor='let player of players'>
          <td>{{ player.name | titlecase }}</td>
          <td>{{ player.position | titlecase }}</td>
          <td>
            <div *ngIf='gameId == 1'>
              <button [ngClass]="{'btn btn-secondary': true, 'btn-success': player.statusOne === 'playing'}" (click)="setStatus(player.id, 'playing')">
                PLAYING
              </button>
              <button [ngClass]="{'btn btn-secondary': true, 'btn-danger': player.statusOne === 'notplaying'}" (click)="setStatus(player.id, 'notplaying')">
                NOT PLAYING
              </button>
              <button [ngClass]="{'btn btn-secondary': true, 'btn-warning': player.statusOne === 'undecided'}" (click)="setStatus(player.id, 'undecided')">
                UNDECIDED
              </button>
            </div>
            <div *ngIf='gameId == 2'>
              <button [ngClass]="{'btn btn-secondary': true, 'btn-success': player.statusTwo === 'playing'}" (click)="setStatus(player.id, 'playing')">
                PLAYING
              </button>
              <button [ngClass]="{'btn btn-secondary': true, 'btn-danger': player.statusTwo === 'notplaying'}" (click)="setStatus(player.id, 'notplaying')">
                NOT PLAYING
              </button>
              <button [ngClass]="{'btn btn-secondary': true, 'btn-warning': player.statusTwo === 'undecided'}" (click)="setStatus(player.id, 'undecided')">
                UNDECIDED
              </button>
            </div>
            <div *ngIf='gameId == 3'>
              <button [ngClass]="{'btn btn-secondary': true, 'btn-success': player.statusThree === 'playing'}" (click)="setStatus(player.id, 'playing')">
                PLAYING
              </button>
              <button [ngClass]="{'btn btn-secondary': true, 'btn-danger': player.statusThree === 'notplaying'}" (click)="setStatus(player.id, 'notplaying')">
                NOT PLAYING
              </button>
              <button [ngClass]="{'btn btn-secondary': true, 'btn-warning': player.statusThree === 'undecided'}" (click)="setStatus(player.id, 'undecided')">
                UNDECIDED
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

