<div class="row">
  <h3>{{ object.name }}</h3>
</div>
<div class="row">
  <div class="col-6">
    <p><b>Humidity:</b> {{ object.main.humidity }}%</p>
    <p><b>Average Temperature:</b> {{ object.averageTemp }} F</p>
    <p><b>High Temperature:</b> {{ object.maxTemp }} F</p>
    <p><b>Low Temperature:</b> {{ object.minTemp }} F</p>
    <p><b>Current Weather:</b></p>
    <ul *ngFor="let condition of object.weather">
      <li>{{ condition.main }}</li>
    </ul>
  </div>
  <div class="col-6">
    <img src="../../assets/{{object.name | lowercase}}.jpg" alt="City Image">
  </div>
</div>

