<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cars</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body>
    <div id="container">
        <h1>Cars</h1>
        <p>
        <a href="/cars/new">Create New Car</a>
        </p>
        <div id="images">
            <img src="/images/car1.jpg" alt="Car 1">
            <img src="/images/car2.jpg" alt="Car 2">
            <img src="/images/car3.jpg" alt="Car 3">
            <img src="/images/car4.jpg" alt="Car 4">
        </div>
        <div id="nav">
            <p>Navigation:</p>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/cats">Cats</a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>