<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cats</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body>
    <div id="container">
        <h1>Cats</h1>
        <p>Cats Page</p>
        <div id="images">
            <img src="/images/cat1.jpg" alt="Cat 1">
            <img src="/images/cat2.jpg" alt="Cat 2">
            <img src="/images/cat3.jpg" alt="Cat 3">
        </div>
        <div id="nav">
            <p>Navigation:</p>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/cars">Cars</a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>